<div>
  <H2>Office Hours</H2>

  {% include image.html file='office_hours.png' alt="Office Hours icon" position="right" max-width=75 %}
  Remember that I will be online for office hours at:
  <ul>
    <li>Mondays from 2:00pm to 3:00pm: {{site.office_hours_zoom_link}}</li>
    <li>Thursdays from 9:00am to 10:00am: {{site.office_hours_zoom_link}}</li>
    <li><a href="mailto:magitz@ufl.edu?subject=Comp%20Tools%20Res%20office%20hours%20request">Email me</a> to setup a different time</li>
  </ul>
</div>
