<div>
  <H2>Student Help Hours</H2>

  {% include image.html file='office_hours.png' alt="Office Hours icon" position="right" max-width=75 %}
  Please stop by and get help or chat at any of the following times/locations:
  <ul>
    <li>Mondays from 11:00 am to noon, Physics (NPB 2334) or on Zoom ({{site.office_hours_zoom_link}}')</li>
    <li>Thursdays from 3:00 pm to 4:00 pm, Physics (NPB 2334) or on  Zoom ({{site.office_hours_zoom_link}}')</li>
    <li>Fridays from 10:30 am to 11:30 am, UFII/UFBI Conference Room (ECE Building) or on Zoom ({{site.office_hours_zoom_link}}')</li>
    <li><a href="mailto:magitz@ufl.edu?subject=Comp%20Tools%20Res%20office%20hours%20request">Email me</a> to setup a different time</li>
  </ul>
</div>
